.page-wrapper {
  height: 100%;
  width: 100%;
  -webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#background-photo {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  opacity: .5;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.load {
  opacity: .8;
}

.title-hidden {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.title-hidden li {
  font-family: 'Montserrat', sans-serif;
  color: #A39E95;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 100px;
  display: inline-block;
  transition: all 2.5s ease;
}

.title-hidden li:last-child {
  margin-right: 0;
}

.title-hidden.hidden li {
  opacity: 0;
}

.title-hidden.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px);}
.title-hidden.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px);}
.title-hidden.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px);}
.title-hidden.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px);}
.title-hidden.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px);}
.title-hidden.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px);}
.title-hidden.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px);}

#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}
